@import url("header.css");

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  font-size: 32px;
  margin: 10% auto;
  text-align: center;
}

#setup {
  text-align: center;
}

#searchForm {
  display: inline;
}

#randomWiki {
  display: inline;
}

#info {
  margin: 2% 0;
}

#tableDisplay {
  display: flex;
  justify-content: space-between;
}

#tableDisplay > h2 {
  margin: 0 auto;
}

#allInfoHere {
  display: flex;
  flex-direction: column;
}

[class^="list"] {
  display: flex;
  flex-direction: row;
}

[class^="title"] {
  list-style: none;
  text-align: center;
  width: 10%;
  margin: 0 auto;
}

[class^="desc"] {
  list-style: none;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  text-align: justify;
}


[class^="link"] {
  /*display: flex;
  flex-direction: column;*/
  text-align: center;
  width: 20%;
  margin: 0 auto;
}


.link {
  list-style: none;
  align-items: flex-start;
}
